{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{'Nouvelle Question'|trans}}{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Question</h1>

    {{ form_start(form) }}

    {{ form_row(form.text,{'label':'Entrer le texte'}) }}
 	{{ form_row(form.categories,{'label':'Choisir une catégorie'}) }}
 	{{ form_row(form.answers,{'label':'Réponses'}) }}


    <a class="btn btn-secondary" href="{{ path('question_index') }}"><i class="fas fa-arrow-circle-left"></i> {{'Retour à la liste'|trans}}</a>
    {% if is_granted('ROLE_TEACHER') %}
        <button class="btn btn-primary"><i class="fas fa-check"></i> {{ button_label|default('Sauver'|trans) }}</button>
    {% endif %}

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/question.js') }}" type="text/javascript"></script>
{% endblock %}
