<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Quiz</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
        <!-- <li>
                        <span class="nav-link active text-dark">{{ (locale ?? 'en')|upper }}</span>
                    </li> -->
                    {% if is_granted('ROLE_TEACHER') %}
                        <li>
                            <a class="nav-link {% if '/quiz/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('quiz_index') }}">Quiz(s)</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_TEACHER') %}
                        <li>
                            <a class="nav-link {% if '/question/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('question_index') }}">Questions</a>
                        </li>
                        <li>
                            <a class="nav-link {% if '/quiz/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('quiz_result') }}">Résultats</a>
                        </li>
                         <li>
                            <a class="nav-link {% if '/quiz/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('quiz_result_eleve') }}">Résultats triés</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a class="nav-link {% if '/category/' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('category_index') }}">Categories</a>
                        </li>
                    {% endif %}
         
                </ul>

                <ul class="navbar-nav ml-auto">
                   {% if is_granted('ROLE_USER') %}
                       <li>
                        <div class="nav-link disabled">
                            <i class="fas fa-user"></i>
                            
                            </div>
                        </li>

                        {% if app.user %}
                        <li>
                            <div class="dropdown ">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <strong>{{ app.user.username }}</strong>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('user_index') }}">Utilisateurs</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_TEACHER') %}
                                    <a class="dropdown-item" href="{{ path('user_password') }}">Modifier mon mot de passe</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{{ path('logout') }}">Déconnexion</a>
                                </div>
                            </div>
                        </li>

                    {% endif %}



                {% else %}
  <!--  <li>
        <a class="nav-link {% if '/register' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('register') }}">Inscription</a>
    </li>-->
    <li>
        <a class="nav-link {% if '/login' in app.request.server.get('REQUEST_URI') %} active {% endif %}" href="{{ path('login') }}">Connexion</a>
    </li>
{% endif %}

</ul>


</div>
</nav>

<div class="container">

    {% for label, messages in app.flashes %}

        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">

            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endfor %}


    
    {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="/js/jquery.min.js"></script>    
    <script type="text/javascript" src="/js/popper.min.js"></script>    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>    

    {% block javascripts %}{% endblock %}
    </body>
    </html>
