{% extends 'base.html.twig' %} 
 
{% form_theme form 'bootstrap_4_layout.html.twig' %} 
 
 
 {% block title %}Modification du mot de passe{% endblock %} 
 
{% block body %} 
 
 <div class="container"> 
 <h1>Modification du mot de passe</h1> 
 
 {{ form_start(form) }} 
 
 {{ form_row(form.oldPassword, {'label':'Ancien Mot de passe','attr':{'placeholder':"Ancien mot de passe"}}) }} 
 {{ form_row(form.newPassword, {'label':'Nouveau Mot de passe','attr':{'placeholder':"Nouveau mot de passe"}}) }} 
 {{ form_row(form.confirmPassword, {'label':'Confirmation Mot de passe','attr':{'placeholder':"Confirmation mot de 
passe"}}) }} 
 
 <button type="submit" class="btn btn-success">Enregistrer les modifications 
 </button> 
 
 {{ form_end(form) }} 
 
 </div> 
 </div> 
 
{% endblock %} 